body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

/*#region Navbar */
/* initial values  */
.p-menubar{
  border-color: transparent;
  position: relative;
  z-index: 2;
}

.p-menubar,
.p-menubar-button ,.p-menubar-root-list,
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content,
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text,
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon 
{
  color: white;
  background-color: black;
}

.p-menubar-button:focus{
  box-shadow: 0 0 0 0.2rem #FB6FBB
}

.p-menubar .p-menubar-root-list> .p-menuitem>:hover{
  background-color: black;
}

/* Hover effect for both text and icon */
.p-menubar .p-menubar-button:hover,
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content:hover,
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text,
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-icon {
  color: #FB6FBB;
  background: black;
}
/*#endregion Navbar */

/*#region Hero section + Spline */
.spline-wrapper {
  position: fixed;
  height: calc(100vh + 1000px);
  width: 100vw;
}

.spline{
  height: 100vh;
  position: sticky;
  z-index: 1;

}

.hero-container {
  display: flex;
  align-items: center;
  height: 100vh; 
  position: relative;
  overflow: hidden;
}

.hero {
  z-index: 2;
}

.hero >.p-card{
  background-color: transparent;
  box-shadow: none;
  margin-left: 20vh;
  margin-top: -15vh;
}

/*#region Hero sections Animations */

.hero-hidden{
  opacity: 0;
  filter: blur(5px);
  /* transform: translateX(-100%); */
  transform: translateY(-100%);
  transition: all 2s;
  will-change: opacity, transform, filter;
}

.hero-visible{
  opacity: 1;
  filter: blur(0);
  /* transform: translateX(0); */
  transform: translateY(0);
  transition: all 3s;
  will-change: opacity, transform, filter;
}

.hero-hidden .item{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  /* transform: translateY(-100%); */
  transition: all 1s;
  will-change: opacity, transform, filter;
}

.hero-visible .item{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  /* transform: translateY(0); */
  transition: all 3s;
  will-change: opacity, transform, filter;
}

.item:nth-child(1) {
  transition-delay: 200ms;
}

.item:nth-child(2) {
  transition-delay: 400ms;
}

.item:nth-child(3) {
  transition-delay: 600ms;
}

.item:nth-child(4) {
  transition-delay: 800ms;
}

/*#endregion Hero sections Animations */


.main-heading{
  font-size: 64px;
  line-height:60px;
  font-weight: normal bold;
  letter-spacing:1.8px;
  color: white;
}

.secondary-heading{
  margin-top: -25px;
  margin-bottom: -20px;
  color: #444B8C;
  font-size: 40px; 
  font-weight: 700;
  line-height: 40px;
}

.small-text{
  color: white;
  font-size: 24px;
  margin-top: 35px;
}

#hero-button >.p-button{
  border-radius: 25px;
  width: 252.8px;
  height: 82.16px;
}

#hero-button >.p-button .p-button-label{
  color: white;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
#contact-me{
  background-color: #303263;
  color: white;
}

.p-button:hover{
  border:unset;
  background-image: linear-gradient(to right top, #051937, #363162, #714789, #b45ba8, #fb6fbb);
}
/* focus: a25bb491 */
/*#endregion Hero section + Spline */

/*#region About me section */
.container{
  display: block;
}

.about-me{
  display: flex;
  justify-content: center;
  z-index: 2;
}

.about-me>.p-card{
  margin: 20vh;
  border-radius: 20px;
  background: transparent;
  /* background: rgb(131,126,133); */
  /* background: linear-gradient(86deg, rgba(131,126,133,1) 0%, rgba(199,197,203,1) 100%);   */
  /* align-items: center; */
}

/*#region About me: left side */
/* icons */
.github-linkedin{
  width: 150px;
  display: flex;
  justify-content: space-around;
}

.about-section{
  width: 100%;
  padding-left: 40px; /* 20px */
  padding-right: 20px;
  background-color: #D9D9D9;
  border-radius: 20px;
  height: 63px;

  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size:large; /* medium */
}

#download-pdf{
  background-color: #303263;
  color: white;
  border-radius: 25px;
  padding-left: 3vw;
  padding-right: 3vw;
  font-weight:600;
  font-size:medium;
}
/*#endregion  About me: left side */

/*#region About me: Right side */
.short-intro{
  color: black;
  width: 90%;
  padding-left: 40px;
  padding-right: 20px;
  background-color: #D9D9D9;
  border-radius: 20px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#profile img{
  border-radius: 50%;
}
/*#endregion About me: Right side */

/*#region About me Animations */
.about-hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
  will-change: opacity, transform, filter;
}

.about-visible{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
  will-change: opacity, transform, filter;
}


.about-hidden .about-item{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-15%);
  /* transform: translateY(100%); */
  transition: all 2s;
  will-change: opacity, transform, filter;
}

.about-visible .about-item{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 2s;
  will-change: opacity, transform, filter;
}

.about-item:nth-child(2){
  transition-delay: 600ms;
}
/*#endregion About me Animations */

/*#endregion About me section */

/*#region Projects section*/
.projects{
  /* background-color: white; */
  /* position: ab; */
  z-index: 2;
}
/*#endregion Projects section  */